.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  background-color: #082f49;
  color: #eff6ff;
}

.navbar a {
  color: #eff6ff;
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
